[tasks.vendor]
run = "uv sync"

[tasks.lint]
run = [
  "uv run ruff check app tests alembic",
  "uv run ruff format --check app tests alembic",
  "uv run mypy app tests"
]

[tasks.build]
run = [
  "uv run alembic upgrade head",
  "uv export --output-file requirements.txt"
]

[tasks.test]
run = "uv run pytest --cov --cov-report=term --cov-report=xml"

[tasks.scan]
run = "sonar-scanner"

[tasks.ci]
run = [
  { tasks = ["lint", "build", "test"] },
]
depends = ["vendor"]

[tools]
python = "3.14"
sonar-scanner-cli = "8"
uv = "latest"
