[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
typer = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
databases = {extras = ["postgresql"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
