[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
typer = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
alembic = "*"
python-slugify = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg2-binary = "*"
requests = "*"

[dev-packages]
autoflake = "*"
flake8 = "*"
mypy = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
