[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
typer = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
alembic = "*"
python-slugify = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg2-binary = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
autoflake = "*"

[requires]
python_version = "3.9"
